@use '../../styles/mixins';

.container {
    @include mixins.flexing(column, center, center);
    height: 70vh;
    width: 100%;

}

.search {
    @include mixins.flexing(column, start, center);
    height: auto;
    h2{
        text-shadow: 2px 2px black;
    }
    
    &__flex{
        @include mixins.flexing(row, space-around, center);
        flex-wrap: wrap;

    }
}