@use '../../styles/mixins';

.container{
    @include mixins.flexing(column, center, center);
    width: 99vw;
    height: auto;
    &__flex{
        @include mixins.flexing(row, center, center);
        flex-wrap: wrap;
    }

}