@use '../../styles/mixins';

.footer{
    @include mixins.flexing(row, center, center);
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    background-color: #585123;
}